<div class="card-container" th:each="pelicula : ${peliculas}">
	<div class="header">
		<a><img th:src="${pelicula.imagen}" alt="Imagen de ${pelicula.titulo}"></a>
		<br>
		<h3 class="list-group-item" th:text="${pelicula.titulo}"></h3>
		<div sec:authorize="hasRole('ADMIN')">
			<a th:href="@{'editar/'+${pelicula.id}}">Editar</a>
			<a th:href="@{'eliminar/'+${pelicula.id}}">Eliminar</a>
		</div>
		
	</div>
	<div class="descripcion">
		<h5 class="card-tittle">Director:</h5>
		<p th:text="${pelicula.director}"></p>
		<h5 class="card-tittle">Genero:</h5>
		<p th:text="${pelicula.genero}"></p>
		<h5 class="card-tittle">Duración:</h5>
		<p th:text="${pelicula.duracion}"></p>
		<h5 class="card-tittle">Sinópsis:</h5>
		<p th:text="${pelicula.sinopsis}"></p>
	</div>
</div>