<div class="card-container" th:each="pelicula : ${peliculas}">
	<div class="header">
		<a><img th:src="${pelicula.imagen}" alt="Imagen de ${pelicula.titulo}"></a>
		<h3 class="list-group-item" th:text="${pelicula.titulo}"></h3>
	</div>
	<div class="descripcion">
		<h5>Director:</h5>
		<p th:text="${pelicula.director}"></p>
		<h5>Genero:</h5>
		<p th:text="${pelicula.genero}"></p>
		<h5>Duración:</h5>
		<p th:text="${pelicula.duracion}"></p>
		<h5>Sinópsis:</h5>
		<p th:text="${pelicula.sinopsis}"></p>
	</div>
</div>