<div class="formulario-form" style="width: 20rem; padding: 20px; margin: auto; border: 1px solid #ccc; border-radius: 8px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    <form action="" method="post">
        <label for="nombre" class="label-form">Nombre de la Película</label>
        <input type="text" id="nombre" name="nombre" class="input-form" required>

        <label for="comentario" class="label-form">Valoración</label>
        <input type="text" id="comentario" name="comentario" class="input-form" required>

        <label for="usuario" class="label-form">Usuario</label>
        <input type="text" id="usuario" name="usuario" class="input-form" required>

        <label for="valoracion" class="label-form">Comentario</label>
        <textarea id="valoracion" name="valoracion" rows="4" class="input-form" required></textarea>

        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>
