<div class="formulario-form">
	<form th:action="@{/usuario/agregar}" method="post" th:object="${usuario}">
		<input type="hidden" th:field="*{id}">
		<div>
			<label for="nombre" class="label-form">Nombre de Usuario</label>
			<input type="text" th:field="*{nombre}" id="nombre" name="usuario" class="input-form">
			<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
		</div>
		<div>
			<label for="correo" class="label-form">Email del Usuario</label>
			<input type="email" th:field="*{correo}" id="correo" name="correo" class="input-form">
			<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
		</div>

		<div>
			<label for="fechaNacimiento" class="label-form">Fecha de Nacimiento</label>
			<input type="date" th:field="*{fechaNacimiento}" id="fechaNacimiento" name="fechaNacimiento" class="input-form">
			<small class="form-text text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></small>
		</div>

		<div>
			<label for="pass" class="label-form">Elige una Contraseña</label>
			<input type="password" th:field="*{pass}" id="contrasena" name="pass" class="input-form">
			<small class="form-text text-danger" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></small>
		</div>


		<a th:href="@{/index}" type="submit" class="btn btn-dark">Cancelar</a>
		<button type="submit" class="btn btn-dark">Guardar</button>
	</form>
</div>